<div class="container-fluid">
  <div class="container">
    <h1 class="display-1 text-center">zb weather app</h1>
  </div>
  <div class="container mx-auto my-3">
    <mat-card>
      <div class="row">
        <mat-label>Enter a city:</mat-label>
      </div>
      <input matInput class="w-75" />

      <!-- NEED TO MAKE THIS TO BE ABLE TO GET WHATEVER IS ENTERED AND SUBMITTED THEN PASS THAT AS AN ARG-->
      <!-- PROB EASIEST IF I USE A FORM -->

      <button
        mat-raised-button
        color="primary"
        class="m-3"
        (click)="getCurrentWeather('Toronto')"
      >
        Submit
      </button>
    </mat-card>
  </div>

  <!-- HIDDEN UNTIL FUNCTION IS EXECUTED -->
  <div class="container" [hidden]="isHidden">
    <mat-tab-group>
      <mat-tab label="Current">
        <h1>{{ weather.location.name }}</h1>
        <h5>{{ weather.current.temperature }}°C</h5>
        <img [src]="weather.current.weather_icons" alt="weather image" />
      </mat-tab>
      <mat-tab label="24 Hour">
        <!-- PUT IN 24 HOUR DATA -- MAKE LOOK NICE -->
      </mat-tab>
      <mat-tab label="7-Day">
        <!-- PUT IN 7 DAY DATA -- MAKE LOOK NICE -->
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
