<div class="container-fluid">
  <div class="container">
    <h1 class="display-1 text-center text-white text-bold" id="header">
      zb weather app
    </h1>
  </div>
  <div class="container mx-auto my-3 background-color-grey">
    <mat-card class="border border-black border-2 rounded">
      <div class="row">
        <mat-label class="lead">Enter a city:</mat-label>
      </div>
      <form
        [formGroup]="weatherForm"
        (ngSubmit)="getCurrentWeather(weatherForm.value)"
      >
        <div class="form-group">
          <input
            matInput
            class="w-75"
            formControlName="city"
            type="text"
            required
            minlength="1"
          />

          <button mat-raised-button color="primary" class="m-3" type="submit">
            Submit
          </button>
        </div>
      </form>
    </mat-card>
  </div>

  <!-- HIDDEN UNTIL FUNCTION IS EXECUTED -->
  <!-- ADD BACK INTO CONTAINER AFTER DONE STYLING ======  [hidden]="isHidden" -->
  <div class="container" [hidden]="isHidden">
    <!-- <mat-card class="border border-black border-2 rounded">
      <div class="row pb-3">
        <h1 class="font-weight-bold">
          {{ weather?.location.name }}, {{ weather?.location.region }},
          {{ weather?.location.country }}
        </h1>        
      </div>
      <div class="row">
        <div class="col">
          <img
            [src]="weather?.current.condition.icon"
            alt="weather image"
            class="img-fluid"
            id="img"
          />
          
        </div>
        <div class="col my-auto">
          <h5>
            Conditions:
            <span
              class="lead text-truncate"
              style="font-size: 44px; padding-left: 1rem"
              >{{ weather?.current.condition.text }}</span
            >
          </h5>
          <h5>
            Temperature:
            <span class="lead" style="font-size: 44px; padding-left: 1rem"
              >{{ weather?.current.temp_c }}°C</span
            >
          </h5>
          <h5>
            Feels Like:
            <span class="lead" style="font-size: 44px; padding-left: 1rem"
              >{{ weather?.current.feelslike_c }}°C</span
            >
          </h5>
          <h5>
            POP:
            <span class="lead" style="font-size: 44px; padding-left: 1rem"
              >{{ weather?.current.precip_mm }}mm</span
            >
          </h5>

        
        </div>
        <div class="col my-auto">
          <h5>
            Humidity:
            <span class="lead" style="font-size: 44px; padding-left: 1rem"
              >{{ weather?.current.humidity }}%</span
            >
          </h5>
          <h5>
            UV Index:
            <span class="lead" style="font-size: 44px; padding-left: 1rem">{{
              weather?.current.uv
            }}</span>
          </h5>
          <h5>
            Wind:
            <span class="lead" style="font-size: 44px; padding-left: 1rem"
              >{{ weather?.current.wind_kph }}km/h<span>
                {{ weather?.current.wind_dir }}</span
              ></span
            >
          </h5>
          <h5>
            Updated at:
            <span class="lead" style="font-size: 44px; padding-left: 1rem">{{
              weather?.current.last_updated | date: 'shortTime'
            }}</span>
          </h5>
        </div>
      </div>
    </mat-card> -->

    <mat-tab-group
      (selectedIndexChange)="myTabSelectedTabChange($event)"
      mat-stretch-tabs="true"
      mat-align-tabs="start"
    >
      >
      <mat-tab label="Current">
        <div class="row pb-3">
          <h1 class="font-weight-bold">
            {{ weather?.location.name }}, {{ weather?.location.region }},
            {{ weather?.location.country }}
          </h1>
        </div>
        <div class="row">
          <div class="col">
            <img
              [src]="weather?.current.condition.icon"
              alt="weather image"
              class="img-fluid"
              id="img"
            />
          </div>
          <div class="col my-auto">
            <h5>
              Conditions:
              <span
                class="lead text-truncate"
                style="font-size: 44px; padding-left: 1rem"
                >{{ weather?.current.condition.text }}</span
              >
            </h5>
            <h5>
              Temperature:
              <span class="lead" style="font-size: 44px; padding-left: 1rem"
                >{{ weather?.current.temp_c }}°C</span
              >
            </h5>
            <h5>
              Feels Like:
              <span class="lead" style="font-size: 44px; padding-left: 1rem"
                >{{ weather?.current.feelslike_c }}°C</span
              >
            </h5>
            <h5>
              POP:
              <span class="lead" style="font-size: 44px; padding-left: 1rem"
                >{{ weather?.current.precip_mm }}mm</span
              >
            </h5>
          </div>
          <div class="col my-auto">
            <h5>
              Humidity:
              <span class="lead" style="font-size: 44px; padding-left: 1rem"
                >{{ weather?.current.humidity }}%</span
              >
            </h5>
            <h5>
              UV Index:
              <span class="lead" style="font-size: 44px; padding-left: 1rem">{{
                weather?.current.uv
              }}</span>
            </h5>
            <h5>
              Wind:
              <span class="lead" style="font-size: 44px; padding-left: 1rem"
                >{{ weather?.current.wind_kph }}km/h<span>
                  {{ weather?.current.wind_dir }}</span
                ></span
              >
            </h5>
            <h5>
              Updated at:
              <span class="lead" style="font-size: 44px; padding-left: 1rem">{{
                weather?.current.last_updated | date : "shortTime"
              }}</span>
            </h5>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="24 Hour">
        <!-- THIS IS HOW TO TARGET EACH DAY TEMP  --- NEED TO FIGURE OUT HOW TO LOOP THIS -->
        <div class="row pb-3 overflow-visible">
          <h1 class="font-weight-bold">
            {{ weather?.location.name }}, {{ weather?.location.region }},
            {{ weather?.location.country }}
          </h1>
        </div>
        <div class="row">
          <div class="col d-flex" *ngFor="let hour of hours; let i = index">
            <div>
              <img
                [src]="
                  dayWeather?.forecast.forecastday[0].hour[i].condition.icon
                "
              />
              <h5>{{ dayWeather?.forecast.forecastday[0].hour[i].temp_c }}</h5>
              <h5>
                {{
                  dayWeather?.forecast.forecastday[0].hour[i].time
                    | date : "shortTime"
                }}
              </h5>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="7-Day">
        <div class="row pb-3 overflow-visible">
          <h1 class="font-weight-bold">
            {{ weather?.location.name }}, {{ weather?.location.region }},
            {{ weather?.location.country }}
          </h1>
        </div>
        <div class="row">
          <div class="col d-flex" *ngFor="let day of days; let i = index">
            <div>
              <img
                [src]="weekWeather?.forecast.forecastday[i].day.condition.icon"
              />
              <h5>{{ weekWeather?.forecast.forecastday[i].day.temp_c }}</h5>
              <h5>
                {{ weekWeather?.forecast.forecastday[i].date | date : "cccc" }}
              </h5>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
