<div class="container-fluid">
  <div class="container">
    <h1 class="display-1 text-center">zb weather app</h1>
  </div>
  <div class="container mx-auto my-3">
    <mat-card>
      <div class="row">
        <mat-label>Enter a city:</mat-label>
      </div>
      <form
        [formGroup]="weatherForm"
        (ngSubmit)="getCurrentWeather(weatherForm.value)"
      >
        <div class="form-group">
          <input
            matInput
            class="w-75"
            formControlName="city"
            type="text"
            required
          />

          <button mat-raised-button color="primary" class="m-3" type="submit">
            Submit
          </button>
        </div>
      </form>
    </mat-card>
  </div>

  <!-- HIDDEN UNTIL FUNCTION IS EXECUTED -->
  <!-- ADD BACK INTO CONTAINER AFTER DONE STYLING ======  [hidden]="isHidden" -->
  <div class="container">
    <mat-card>
      <div class="row pb-3">
        <h1 class="font-weight-bold">{{ weather?.location.name }}, {{ weather?.location.region }}, {{ weather?.location.country }}</h1>
        <!-- <h1>{{ weather?.location.name }}, {{ weather?.location.region }}, {{ weather?.location.country }}</h1> -->
      </div>
      <div class="row">
        <div class="col">
          <img [src]="weather?.current.weather_icons" alt="weather image" class="img-fluid" id="img" />
          <!-- <img [src]="weather?.current.weather_icons" alt="weather image" class="img-fluid" id="img"/>           -->
        </div>
        <div class="col my-auto">
          <h5>
            Conditions:
            <span class="lead" style="font-size: 44px; padding-left: 1rem"
              >{{ weather?.current.weather_descriptions }}</span
            >
          </h5>
          <h5>
            Temperature:
            <span class="lead" style="font-size: 44px; padding-left: 1rem"
              >{{ weather?.current.temperature }}°C</span
            >
          </h5>
          <h5>
            Feels Like:
            <span class="lead" style="font-size: 44px; padding-left: 1rem"
              >{{ weather?.current.feelslike }}°C</span
            >
          </h5>
          <h5>
            POP:
            <span class="lead" style="font-size: 44px; padding-left: 1rem"
              >{{ weather?.current.precip }}%</span
            >
          </h5>

          <!-- <h5>{{ weather?.current.weather_descriptions }}</h5>
          <h5>{{ weather?.current.temperature }}°C</h5>
          <h5>{{ weather?.current.feelslike }}°C</h5>
          <h5>{{ weather?.current.precip }}%</h5>
          <h5>{{ weather?.current.humidity }}%</h5>
          <h5>{{ weather?.current.uv_index }}</h5>
          <h5>
            {{ weather?.current.wind_speed }}
            <span>{{ weather?.current.wind_dir }}</span>
          </h5>
          <h6>Updated at: {{ weather?.current.observation_time }}°C</h6> -->
        </div>
        <div class="col my-auto">
          <h5>
            Humidity:
            <span class="lead" style="font-size: 44px; padding-left: 1rem"
              >{{ weather?.current.humidity }}%</span
            >
          </h5>
          <h5>
            UV Index:
            <span class="lead" style="font-size: 44px; padding-left: 1rem"
              >{{ weather?.current.uv_index }}</span
            >
          </h5>
          <h5>
            Wind:
            <span class="lead" style="font-size: 44px; padding-left: 1rem"
              >{{ weather?.current.wind_speed }}<span>{{ weather?.current.wind_dir }}</span></span
            >
          </h5>
          <h5>
            Updated at:
            <span class="lead" style="font-size: 44px; padding-left: 1rem"
              >{{ weather?.current.observation_time }}</span
            >
          </h5>
        </div>
      </div>
    </mat-card>

    <!-- <mat-tab-group (selectedIndexChange)="myTabSelectedTabChange($event)" mat-stretch-tabs="true" mat-align-tabs="start">
      >
      <mat-tab label="Current">
        <h1>{{ weather?.location.name }}, {{ weather?.location.region }}</h1>
        <h5>{{ weather?.current.weather_descriptions }}</h5>
        <h5>{{ weather?.current.temperature }}°C</h5>
        <img [src]="weather?.current.weather_icons" alt="weather image" />
        <h5>
          {{ weather?.current.wind_speed }}
          <span>{{ weather?.current.wind_dir }}</span>
        </h5>
      </mat-tab>
      <mat-tab label="24 Hour">
        <h1>testing 24 hour</h1>
      </mat-tab>
      <mat-tab label="7-Day">
        <h1>testing 7-day</h1>
      </mat-tab>
    </mat-tab-group> -->
  </div>
</div>
