/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
  background-image: url('./assets/img/bg-2.jpg');
}

h1 {
  font-weight: 300;
}

/* #header {
  text-shadow: #000000 3px 3px 2px;
} */

#img {
  width: 280px;
  height: 280px;
}

#header {
  font-weight: 400;
  text-shadow: #000000 3px 3px 2px;
  /* color: rgb(16, 16, 201); */
}

.mat-tab-body-content {
  overflow: hidden !important;
}
